<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFsS6fPXtzX-dYjdLXSCEPJw1MTK_oLf4</string>
	<key>GCM_SENDER_ID</key>
	<string>1025074740534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.vishnya.app</string>
	<key>PROJECT_ID</key>
	<string>mmparter-7a8eb</string>
	<key>STORAGE_BUCKET</key>
	<string>mmparter-7a8eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025074740534:ios:6ad4b85458d99a39cd0797</string>
	<key>DATABASE_URL</key>
	<string>https://mmparter-7a8eb.firebaseio.com</string>
</dict>
</plist>